Non graded Challenge 8

# Introduction

The hospital XYZ want look human deaths,recovered and active from virus in each country and we can check with many date in country

# Import Library

In [1]:
import pandas as pd

# Data Loading

In [2]:
data  = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/data_ngc.csv')
data.head(10)
# Show 10 first and last rows

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,fips,admin2,combined_key
0,NaN,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,NaN,NaN,NaN
1,NaN,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,NaN,NaN,NaN
2,NaN,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,NaN,NaN,NaN
3,NaN,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,NaN,NaN,NaN
4,NaN,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,NaN,NaN,NaN
5,NaN,Singapore,2020-03-15,1.3521,103.8198,POINT(103.8198 1.3521),226.0,0.0,105.0,NaN,NaN,NaN,NaN
6,NaN,Malaysia,2020-03-02,2.5000,112.5000,POINT(112.5 2.5),29.0,0.0,18.0,NaN,NaN,NaN,NaN
7,NaN,Malaysia,2020-03-11,2.5000,112.5000,POINT(112.5 2.5),149.0,0.0,26.0,NaN,NaN,NaN,NaN
8,NaN,Malaysia,2020-03-14,4.2105,101.9758,POINT(101.9758 4.2105),238.0,0.0,35.0,NaN,NaN,NaN,NaN
9,NaN,Singapore,2020-03-14,1.3521,103.8198,POINT(103.8198 1.3521),212.0,0.0,105.0,NaN,NaN,NaN,NaN

In [3]:
data.tail(10)

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,fips,admin2,combined_key
11920,Pahang,Malaysia,2021-11-16,3.8126,103.3256,POINT(103.3256 3.8126),81816.0,682.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11921,Pahang,Malaysia,2023-02-24,3.8126,103.3256,POINT(103.3256 3.8126),182726.0,1031.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11922,Pahang,Malaysia,2022-07-18,3.8126,103.3256,POINT(103.3256 3.8126),173334.0,985.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11923,Pahang,Malaysia,2021-12-11,3.8126,103.3256,POINT(103.3256 3.8126),90445.0,733.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11924,Pahang,Malaysia,2022-08-13,3.8126,103.3256,POINT(103.3256 3.8126),174946.0,993.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734.0,975.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740.0,970.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320.0,782.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730.0,1031.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522.0,1008.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"

In [4]:
#Showing dataframe summary
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  9078 non-null   object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  object
 3   latitude        11321 non-null  float64
 4   longitude       11321 non-null  float64
 5   location_geom   11321 non-null  object
 6   confirmed       11929 non-null  float64
 7   deaths          11913 non-null  float64
 8   recovered       1640 non-null   float64
 9   active          1520 non-null   float64
 10  fips            0 non-null      float64
 11  admin2          0 non-null      float64
 12  combined_key    11793 non-null  object
dtypes: float64(8), object(5)
memory usage: 1.2+ MB

1.Change type data data(object) to be datetime

2.Delete column > 80% null

3.null in province_state ,we can input uknown

4.other null ,we can delete rows

In [5]:
# we can look rows x columns in data
data.shape

(11930, 13)

In [6]:
# We can look statistics descriptive from each data
data.describe()

,latitude,longitude,confirmed,deaths,recovered,active,fips,admin2
count,11321.000000,11321.000000,1.192900e+04,11913.000000,1.640000e+03,1520.000000,0.0,0.0
mean,3.379857,104.916649,5.691680e+05,10294.111223,2.942046e+05,43025.965132,NaN,NaN
std,2.163091,5.239123,1.245387e+06,33496.371144,5.221845e+05,81075.148339,NaN,NaN
min,-0.789300,100.204800,0.000000e+00,0.000000,0.000000e+00,0.000000,NaN,NaN
25%,1.553300,101.686900,5.980000e+04,197.000000,8.820000e+03,436.000000,NaN,NaN
50%,3.139000,102.250100,2.019620e+05,1424.000000,5.873950e+04,11307.500000,NaN,NaN
75%,5.311700,103.833300,3.570460e+05,2764.000000,3.259220e+05,57167.500000,NaN,NaN
max,6.444900,116.075300,6.738225e+06,624641.000000,2.907920e+06,574135.000000,NaN,NaN

In [7]:
#There are uniq value from data
data.nunique()

province_state       17
country_region        3
date               1142
latitude             23
longitude            22
location_geom        22
confirmed         11001
deaths             3877
recovered          1539
active             1344
fips                  0
admin2                0
combined_key         20
dtype: int64

In [8]:
# we can look Frequencty Count of Unique Values in Certain Column

for i in data.columns:
  print(i)
  print(data[i].value_counts())
  print('\n')

province_state
Unknown              534
W.P. Labuan          534
Johor                534
Sabah                534
Kedah                534
W.P. Kuala Lumpur    534
W.P. Putrajaya       534
Melaka               534
Perak                534
Negeri Sembilan      534
Terengganu           534
Kelantan             534
Sarawak              534
Pulau Pinang         534
Perlis               534
Selangor             534
Pahang               534
Name: province_state, dtype: int64


country_region
Malaysia     9685
Singapore    1142
Indonesia    1103
Name: country_region, dtype: int64


date
2022-07-26    19
2022-04-19    19
2022-07-27    19
2021-09-22    19
2021-11-09    19
              ..
2020-02-28     2
2020-02-07     2
2020-02-21     2
2020-01-28     2
2020-01-24     1
Name: date, Length: 1142, dtype: int64


latitude
-0.789300    1103
 1.283300    1095
 4.210484     537
 5.311700     534
 1.485400     534
 5.978800     534
 6.118400     534
 3.139000     534
 2.926400     534
 2.189600     534
 5.283100     534
 4.592100     534
 3.812600     534
 6.125400     534
 1.553300     534
 5.414100     534
 6.444900     534
 3.073800     534
 2.725800     534
 4.210484      12
 2.500000      12
 1.352100       9
 4.210500       9
Name: latitude, dtype: int64


longitude
113.921300    1103
103.833300    1095
101.975766     549
103.761800     534
116.075300     534
100.368500     534
101.686900     534
101.696400     534
102.250100     534
115.230800     534
101.090100     534
103.325600     534
103.132400     534
102.238100     534
110.359200     534
100.328800     534
100.204800     534
101.518300     534
101.942400     534
112.500000      12
103.819800       9
101.975800       9
Name: longitude, dtype: int64


location_geom
POINT(113.9213 -0.7893)       1103
POINT(103.8333 1.2833)        1095
POINT(101.975766 4.210484)     549
POINT(103.7618 1.4854)         534
POINT(116.0753 5.9788)         534
POINT(100.3685 6.1184)         534
POINT(101.6869 3.139)          534
POINT(101.6964 2.9264)         534
POINT(102.2501 2.1896)         534
POINT(115.2308 5.2831)         534
POINT(101.0901 4.5921)         534
POINT(103.3256 3.8126)         534
POINT(103.1324 5.3117)         534
POINT(102.2381 6.1254)         534
POINT(110.3592 1.5533)         534
POINT(100.3288 5.4141)         534
POINT(100.2048 6.4449)         534
POINT(101.5183 3.0738)         534
POINT(101.9424 2.7258)         534
POINT(112.5 2.5)                12
POINT(103.8198 1.3521)           9
POINT(101.9758 4.2105)           9
Name: location_geom, dtype: int64


confirmed
0.0          534
2222006.0     15
22955.0       14
6056017.0     12
22.0          12
            ...
254245.0       1
247171.0       1
258526.0       1
173557.0       1
177522.0       1
Name: confirmed, Length: 11001, dtype: int64


deaths
0.0         637
30.0        187
155.0       152
29.0        118
157.0       116
           ...
28132.0       1
49328.0       1
8025.0        1
155794.0      1
987.0         1
Name: deaths, Length: 3877, dtype: int64


recovered
0.0       22
18.0      10
15.0       9
78.0       9
2.0        7
          ..
7733.0     1
5512.0     1
8461.0     1
6559.0     1
557.0      1
Name: recovered, Length: 1539, dtype: int64


active
0.0         17
128.0        6
295.0        6
84.0         5
60.0         5
            ..
1210.0       1
1382.0       1
1932.0       1
1425.0       1
147172.0     1
Name: active, Length: 1344, dtype: int64


fips
Series([], Name: fips, dtype: int64)


admin2
Series([], Name: admin2, dtype: int64)


combined_key
Indonesia                      1083
Singapore                      1083
Malaysia                        549
Perak, Malaysia                 534
Johor, Malaysia                 534
Sabah, Malaysia                 534
Kedah, Malaysia                 534
W.P. Kuala Lumpur, Malaysia     534
W.P. Putrajaya, Malaysia        534
Melaka, Malaysia                534
W.P. Labuan, Malaysia           534
Unknown, Malaysia               534
Negeri Sembilan, Malaysia       534
Terengganu, Malaysia            534
Kelantan, Malaysia              534
Sarawak, Malaysia               534
Pulau Pinang, Malaysia          534
Perlis, Malaysia                534
Selangor, Malaysia              534
Pahang, Malaysia                534
Name: combined_key, dtype: int64

# Data Cleaning

In [9]:
# Change data type that not adjust
#1.We can change date column from type object -> datetime

data['date'] = pd.to_datetime(data['date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  9078 non-null   object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  datetime64[ns]
 3   latitude        11321 non-null  float64
 4   longitude       11321 non-null  float64
 5   location_geom   11321 non-null  object
 6   confirmed       11929 non-null  float64
 7   deaths          11913 non-null  float64
 8   recovered       1640 non-null   float64
 9   active          1520 non-null   float64
 10  fips            0 non-null      float64
 11  admin2          0 non-null      float64
 12  combined_key    11793 non-null  object
dtypes: datetime64[ns](1), float64(8), object(4)
memory usage: 1.2+ MB

In [10]:
# we look null in data and if > 80% we can delete that null
data.isnull().sum()

province_state     2852
country_region        0
date                  0
latitude            609
longitude           609
location_geom       609
confirmed             1
deaths               17
recovered         10290
active            10410
fips              11930
admin2            11930
combined_key        137
dtype: int64

In [11]:
# we can delete column recovered,active,fips,admin2
column = data[['recovered','active','fips','admin2']]
for i in column:
  del data[i]

In [12]:
data.isnull().sum()

province_state    2852
country_region       0
date                 0
latitude           609
longitude          609
location_geom      609
confirmed            1
deaths              17
combined_key       137
dtype: int64

In [13]:
# handle missing value
#1. fill province state that null with uknown

data['province_state'] = data['province_state'].fillna('Unknown')
data.isnull().sum()

province_state      0
country_region      0
date                0
latitude          609
longitude         609
location_geom     609
confirmed           1
deaths             17
combined_key      137
dtype: int64

In [14]:
data.head(50)

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,combined_key
0,Unknown,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,NaN
1,Unknown,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,NaN
2,Unknown,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,NaN
3,Unknown,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,NaN
4,Unknown,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,NaN
5,Unknown,Singapore,2020-03-15,1.3521,103.8198,POINT(103.8198 1.3521),226.0,0.0,NaN
6,Unknown,Malaysia,2020-03-02,2.5000,112.5000,POINT(112.5 2.5),29.0,0.0,NaN
7,Unknown,Malaysia,2020-03-11,2.5000,112.5000,POINT(112.5 2.5),149.0,0.0,NaN
8,Unknown,Malaysia,2020-03-14,4.2105,101.9758,POINT(101.9758 4.2105),238.0,0.0,NaN
9,Unknown,Singapore,2020-03-14,1.3521,103.8198,POINT(103.8198 1.3521),212.0,0.0,NaN
10,Unknown,Malaysia,2020-03-19,4.2105,101.9758,POINT(101.9758 4.2105),900.0,2.0,NaN
11,Unknown,Singapore,2020-03-19,1.3521,103.8198,POINT(103.8198 1.3521),345.0,0.0,NaN
12,Unknown,Malaysia,2020-03-03,2.5000,112.5000,POINT(112.5 2.5),36.0,0.0,NaN
13,Unknown,Malaysia,2020-03-04,2.5000,112.5000,POINT(112.5 2.5),50.0,0.0,NaN
14,Unknown,Malaysia,2020-03-09,2.5000,112.5000,POINT(112.5 2.5),117.0,0.0,NaN
15,Unknown,Malaysia,2020-03-20,4.2105,101.9758,POINT(101.9758 4.2105),1030.0,3.0,NaN
16,Unknown,Singapore,2020-03-20,1.3521,103.8198,POINT(103.8198 1.3521),385.0,0.0,NaN
17,Unknown,Malaysia,2020-03-12,2.5000,112.5000,POINT(112.5 2.5),149.0,0.0,NaN
18,Unknown,Malaysia,2020-03-06,2.5000,112.5000,POINT(112.5 2.5),83.0,0.0,NaN
19,Unknown,Malaysia,2020-03-16,4.2105,101.9758,POINT(101.9758 4.2105),566.0,0.0,NaN
20,Unknown,Singapore,2020-03-16,1.3521,103.8198,POINT(103.8198 1.3521),243.0,0.0,NaN
21,Unknown,Malaysia,2020-03-07,2.5000,112.5000,POINT(112.5 2.5),93.0,0.0,NaN
22,Unknown,Malaysia,2020-03-17,4.2105,101.9758,POINT(101.9758 4.2105),673.0,2.0,NaN
23,Unknown,Singapore,2020-03-17,1.3521,103.8198,POINT(103.8198 1.3521),266.0,0.0,NaN
24,Unknown,Malaysia,2020-03-18,4.2105,101.9758,POINT(101.9758 4.2105),790.0,2.0,NaN
25,Unknown,Singapore,2020-03-18,1.3521,103.8198,POINT(103.8198 1.3521),313.0,0.0,NaN
26,Unknown,Malaysia,2020-03-21,4.2105,101.9758,POINT(101.9758 4.2105),1183.0,4.0,NaN
27,Unknown,Singapore,2020-03-21,1.3521,103.8198,POINT(103.8198 1.3521),432.0,2.0,NaN
28,Unknown,Malaysia,2020-03-05,2.5000,112.5000,POINT(112.5 2.5),50.0,0.0,NaN
29,Unknown,Malaysia,2020-03-01,2.5000,112.5000,POINT(112.5 2.5),29.0,0.0,NaN
30,Unknown,Malaysia,2022-05-26,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
31,Unknown,Malaysia,2023-02-13,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
32,Unknown,Malaysia,2022-02-16,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
33,Unknown,Malaysia,2021-10-06,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
34,Unknown,Malaysia,2022-07-14,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
35,Unknown,Malaysia,2022-10-03,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
36,Unknown,Malaysia,2022-01-06,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
37,Unknown,Malaysia,2021-10-31,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
38,Unknown,Malaysia,2021-12-22,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
39,Unknown,Malaysia,2022-08-24,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
40,Unknown,Malaysia,2022-11-28,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
41,Unknown,Malaysia,2022-08-09,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
42,Unknown,Malaysia,2022-11-13,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
43,Unknown,Malaysia,2021-12-07,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
44,Unknown,Malaysia,2022-02-01,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
45,Unknown,Malaysia,2022-10-18,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
46,Unknown,Malaysia,2022-06-08,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
47,Unknown,Malaysia,2022-03-22,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
48,Unknown,Malaysia,2022-12-07,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"
49,Unknown,Malaysia,2021-10-19,NaN,NaN,NaN,0.0,0.0,"Unknown, Malaysia"

In [15]:
#2 we can delete rows that null from latitude,longitude,location_geom
#because if we look in data. Many data that null and irrelevant data
data = data.dropna()

In [16]:
data.isnull().sum()

province_state    0
country_region    0
date              0
latitude          0
longitude         0
location_geom     0
confirmed         0
deaths            0
combined_key      0
dtype: int64

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11259 entries, 639 to 11929
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  11259 non-null  object
 1   country_region  11259 non-null  object
 2   date            11259 non-null  datetime64[ns]
 3   latitude        11259 non-null  float64
 4   longitude       11259 non-null  float64
 5   location_geom   11259 non-null  object
 6   confirmed       11259 non-null  float64
 7   deaths          11259 non-null  float64
 8   combined_key    11259 non-null  object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 879.6+ KB

In [18]:
for i in data.columns:
  print(i)
  print(data[i].value_counts())
  print('\n')

province_state
Unknown              2715
Negeri Sembilan       534
W.P. Labuan           534
Johor                 534
Sabah                 534
Kedah                 534
W.P. Kuala Lumpur     534
W.P. Putrajaya        534
Melaka                534
Perak                 534
Selangor              534
Terengganu            534
Kelantan              534
Sarawak               534
Pulau Pinang          534
Perlis                534
Pahang                534
Name: province_state, dtype: int64


country_region
Malaysia     9093
Singapore    1083
Indonesia    1083
Name: country_region, dtype: int64


date
2022-05-26    18
2021-11-12    18
2021-11-17    18
2022-06-07    18
2021-10-05    18
              ..
2020-12-18     3
2020-10-18     3
2020-12-02     3
2020-08-19     3
2021-09-07     3
Name: date, Length: 1083, dtype: int64


latitude
-0.789300    1083
 1.283300    1083
 4.210484     537
 4.592100     534
 1.485400     534
 5.978800     534
 6.118400     534
 3.139000     534
 2.926400     534
 2.189600     534
 5.283100     534
 2.725800     534
 3.073800     534
 5.311700     534
 6.125400     534
 1.553300     534
 5.414100     534
 6.444900     534
 3.812600     534
 4.210484      12
Name: latitude, dtype: int64


longitude
113.921300    1083
103.833300    1083
101.975766     549
115.230800     534
103.761800     534
116.075300     534
100.368500     534
101.686900     534
101.696400     534
102.250100     534
101.942400     534
101.090100     534
101.518300     534
103.132400     534
102.238100     534
110.359200     534
100.328800     534
100.204800     534
103.325600     534
Name: longitude, dtype: int64


location_geom
POINT(113.9213 -0.7893)       1083
POINT(103.8333 1.2833)        1083
POINT(101.975766 4.210484)     549
POINT(115.2308 5.2831)         534
POINT(103.7618 1.4854)         534
POINT(116.0753 5.9788)         534
POINT(100.3685 6.1184)         534
POINT(101.6869 3.139)          534
POINT(101.6964 2.9264)         534
POINT(102.2501 2.1896)         534
POINT(101.9424 2.7258)         534
POINT(101.0901 4.5921)         534
POINT(101.5183 3.0738)         534
POINT(103.1324 5.3117)         534
POINT(102.2381 6.1254)         534
POINT(110.3592 1.5533)         534
POINT(100.3288 5.4141)         534
POINT(100.2048 6.4449)         534
POINT(103.3256 3.8126)         534
Name: location_geom, dtype: int64


confirmed
2222006.0    15
22955.0      14
6056017.0    12
18996.0      10
1240233.0     9
             ..
247780.0      1
259341.0      1
260062.0      1
210976.0      1
177522.0      1
Name: confirmed, Length: 10921, dtype: int64


deaths
30.0        187
155.0       152
29.0        118
157.0       116
1424.0      101
           ...
160858.0      1
14836.0       1
28132.0       1
49328.0       1
987.0         1
Name: deaths, Length: 3874, dtype: int64


combined_key
Indonesia                      1083
Singapore                      1083
Malaysia                        549
W.P. Labuan, Malaysia           534
Johor, Malaysia                 534
Sabah, Malaysia                 534
Kedah, Malaysia                 534
W.P. Kuala Lumpur, Malaysia     534
W.P. Putrajaya, Malaysia        534
Melaka, Malaysia                534
Negeri Sembilan, Malaysia       534
Perak, Malaysia                 534
Selangor, Malaysia              534
Terengganu, Malaysia            534
Kelantan, Malaysia              534
Sarawak, Malaysia               534
Pulau Pinang, Malaysia          534
Perlis, Malaysia                534
Pahang, Malaysia                534
Name: combined_key, dtype: int64

In [19]:
#adjust name column
data = data.rename(columns={'combined_key': 'Complete_address'})

In [20]:
data.head(1)

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,Complete_address
639,Negeri Sembilan,Malaysia,2022-05-26,2.7258,101.9424,POINT(101.9424 2.7258),204482.0,1475.0,"Negeri Sembilan, Malaysia"

In [21]:
# Check duplicate data
data[data.duplicated(keep = False)]

Empty DataFrame
Columns: [province_state, country_region, date, latitude, longitude, location_geom, confirmed, deaths, Complete_address]
Index: []

# Data Exploration

In [25]:
data.groupby(['province_state','country_region','Complete_address']).agg({'deaths': 'mean','confirmed':'mean'})

                                                                    deaths  \
province_state    country_region Complete_address
Johor             Malaysia       Johor, Malaysia               4609.882022
Kedah             Malaysia       Kedah, Malaysia               2702.829588
Kelantan          Malaysia       Kelantan, Malaysia            1506.550562
Melaka            Malaysia       Melaka, Malaysia              1182.861423
Negeri Sembilan   Malaysia       Negeri Sembilan, Malaysia     1603.711610
Pahang            Malaysia       Pahang, Malaysia              1001.956929
Perak             Malaysia       Perak, Malaysia               1917.908240
Perlis            Malaysia       Perlis, Malaysia               172.911985
Pulau Pinang      Malaysia       Pulau Pinang, Malaysia        2103.353933
Sabah             Malaysia       Sabah, Malaysia               3313.071161
Sarawak           Malaysia       Sarawak, Malaysia             1928.580524
Selangor          Malaysia       Selangor, Malaysia           11635.771536
Terengganu        Malaysia       Terengganu, Malaysia           869.574906
Unknown           Indonesia      Indonesia                    92644.379501
                  Malaysia       Malaysia                      2541.714026
                  Singapore      Singapore                      638.229917
W.P. Kuala Lumpur Malaysia       W.P. Kuala Lumpur, Malaysia   3090.724719
W.P. Labuan       Malaysia       W.P. Labuan, Malaysia          172.181648
W.P. Putrajaya    Malaysia       W.P. Putrajaya, Malaysia        40.423221

                                                                 confirmed
province_state    country_region Complete_address
Johor             Malaysia       Johor, Malaysia              3.433335e+05
Kedah             Malaysia       Kedah, Malaysia              2.632721e+05
Kelantan          Malaysia       Kelantan, Malaysia           2.238552e+05
Melaka            Malaysia       Melaka, Malaysia             1.142541e+05
Negeri Sembilan   Malaysia       Negeri Sembilan, Malaysia    1.835686e+05
Pahang            Malaysia       Pahang, Malaysia             1.491844e+05
Perak             Malaysia       Perak, Malaysia              1.898444e+05
Perlis            Malaysia       Perlis, Malaysia             1.456900e+04
Pulau Pinang      Malaysia       Pulau Pinang, Malaysia       2.503290e+05
Sabah             Malaysia       Sabah, Malaysia              3.426768e+05
Sarawak           Malaysia       Sarawak, Malaysia            2.915765e+05
Selangor          Malaysia       Selangor, Malaysia           1.226915e+06
Terengganu        Malaysia       Terengganu, Malaysia         1.124556e+05
Unknown           Indonesia      Indonesia                    3.409053e+06
                  Malaysia       Malaysia                     3.428807e+05
                  Singapore      Singapore                    6.679749e+05
W.P. Kuala Lumpur Malaysia       W.P. Kuala Lumpur, Malaysia  3.484191e+05
W.P. Labuan       Malaysia       W.P. Labuan, Malaysia        1.862442e+04
W.P. Putrajaya    Malaysia       W.P. Putrajaya, Malaysia     2.061767e+04

The conclusion is the biggest avg deaths and confirm virus is Indonesia with uknown province_state

The goverment should be more protect the citizen for outside home in Indonesia

because,it will decrease total deaths in Indonnesia